.two {
    margin-top: 0px; 
    margin-bottom: 20px;   
    display: inline-flexbox; 
}

.farmalink {
    margin-left: 150px;
    margin-right: 150px;
}

.securitas {
    margin-left: 200px;
    margin-right: 200px;
}