body {
    margin: 0;
    font-family: "Niramit", sans-serif;
    font-weight: lighter;
    color: white;
    background-color: #171717;
}


.title-container {
    margin-top: 300px;
}


ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
 display: inline;
 padding: 15px 30px;
 font-size: 1rem;
}


h1 {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(to right, #FF6B6B, #F9D923, #FF1700, #36AE7C, #187498, #4D96FF, #9ADCFF);   -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

h1:hover {
    background-image: linear-gradient(to left, #FF6B6B, #F9D923, #FF1700, #36AE7C, #187498, #4D96FF, #9ADCFF);   -webkit-background-clip: text;
    color: transparent;
}


h2 {
    font-family: 'Josefin Slab'; serif;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 7px;
    background-image: linear-gradient(to left, #FF6B6B, #F9D923, #FF1700, #36AE7C, #187498, #4D96FF, #9ADCFF);   -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    
}


img {
    width: 100%;
    height: 70px;
    background-color:  #171717;
    position: absolute;
    padding: 3px;
    float: right;
    top: 0px;
    right: auto;
    
}